<script>
import Layout from "../../layouts/main";
import request from "../../../helpers/request";
import pdfIcon from "../../../helpers/icons/pdfIcon";

export default {
  page: {
    title: "ProfilCard",
    meta: [{ name: "description" }],
  },
  components: { Layout },
  data: () => ({
    profile: undefined,
    showDocuments: false,
    profileDocuments: [],
    docIcon: pdfIcon,
  }),
  methods: {
    async getProfile(id) {
      const res = await request.create(`/api/back/admin/profile/${id}`).get();
      if (!res || !res.data) {
        this.$toasted.show("Profil non trouvé!", {
          position: "top-center",
          type: "error",
        });
        this.$router.push({ name: "Subscription List" });
        return;
      }
      this.profile = res.data;
    },
    async getProfileDocument(doc) {
      const res = await request.create(`/api/back/search/doc?n=${doc}`).get();
      if (!res || !res.data) {
        return doc;
      }
      return res.data;
    },
    downloadDocument(index) {
      const base64Data = this.profileDocuments[index].split("base64,");
      const byteCharacters = atob(base64Data[1]);
      const byteNumbers = new Array(byteCharacters.length);
      for (let i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      const byteArray = new Uint8Array(byteNumbers);
      const blob = new Blob([byteArray], { type: "application/pdf" });
      const link = document.createElement("a");
      link.href = window.URL.createObjectURL(blob);
      link.download = this.profile.documents[index].endsWith(".pdf")
        ? this.profile.documents[index]
        : `${this.profile.documents[index]}.pdf`;
      link.click();
      return;
    },
    async certificateProfile() {
      const res = await request.create(`/api/back/admin/profile/${this.profile.id}/validate`).put();
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est survenue pendant la valdiation du profile!", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      this.$router.push({ name: "Subscription List" });
      return;
    }
  },
  async mounted() {
    await this.getProfile(this.$route.params.id);
    if (!this.profile.documents) return;
    for (let i = 0; i<this.profile.documents.length; i++) {
      this.profileDocuments.push(await this.getProfileDocument(this.profile.documents[i]));
    }
    this.showDocuments = true; // Set to true to refresh DOM and display loaded documents
  },
};
</script>

<template>
  <Layout>
    <div class="row" v-if="profile">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row mt-4">
              <div class="col-lg-12">
                <div class="text-center">
                  <p class="text-muted">{{ profile.description }}</p>
                  <div class="row">
                    <div class="col-lg-12" v-if="profile.status === 2">
                      <div class="button-items">
                        <p>Compétences {{ profile.skills && profile.skills.length ? profile.skills.join(", ") : "Aucune compétence d'indiqué"}}</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="button-items">
                        <p>
                          Tarif journalier
                          {{
                            profile.price
                              ? `${profile.price}€`
                              : "Non renseigné"
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="button-items">
                        <p>Nom de société {{ profile.name }}</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="button-items">
                        <p>N° de SIRET {{ profile.siret }}</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="button-items">
                        <p>
                          N° de téléphone {{ profile.phoneNumber || "Aucune numéro de téléphone associé" }}
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="button-items">
                        <p>Adresse {{ profile.address || "Aucune adresse associé" }}</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="button-items">
                        <p>Departement {{ profile.departement || "Aucun département associé" }}</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="button-items">
                        <p>Pays {{ profile.country || "Aucun pays associé" }}</p>
                      </div>
                    </div>
                    <div class="col-lg-12" v-if="profile.documents && showDocuments">
                      <div class="button-items">
                        <p>Documents</p>
                          <div v-for="(doc, index) in profile.documents" :key="index">
                            <img class="img-icon pointer" :src="docIcon" @click="downloadDocument(index)"> {{doc}}
                          </div>
                      </div>
                    </div>
                    <div class="mt-10">
                      <button
                          type="button"
                          class="btn btn-primary mt-2 waves-effect waves-light"
                          style="margin-right: 10px;"
                          @click="certificateProfile()"
                        >
                          Certifier le profil
                        </button>
                        <router-link
                        class="btn btn-primary"
                        :to="{ name: 'Subscription List' }"
                      >
                        Retours à la liste des inscrits
                      </router-link>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<style>
  .img-icon {
    margin-top: 5px;
    height: 50px;
    width: 50px;
  }

  .mt-10 {
    margin-top: 20px;
  }

  .pointer {
    cursor: pointer;
  }
</style>
