<script>
import { FormWizard, TabContent } from "vue-form-wizard";

import Layout from "../../layouts/main";
import PageHeader from "@/components/page-header";
import appConfig from "@/app.config";
import request from "../../../helpers/request";

export default {
  page: {
    title: "Création ticket",
    meta: [{ name: "description", content: appConfig.description }],
  },
  components: { Layout, PageHeader, FormWizard, TabContent },
  data() {
    return {
      title: "Création ticket",
      ticket: {
        title: "",
        description: "",
      },
      msg: {},
    };
  },
  watch: {
    "ticket.title": function (value) {
      this.ticket.title = value;
      this.validateTitle(value);
    },
    "ticket.description": function (value) {
      this.ticket.description = value;
      this.validateDescription(value);
    }
  },
  methods: {
    isFormValid() {
      return (
        this.msg.title == "" &&
        this.msg.description == ""
      );
    },
    async sendForm() {
      const res = await request.create("/api/back/ticket/").post(this.ticket);
      if (!res || !res.data) {
        this.$toasted.show(
          "Une erreur est survenue pendant la création du ticket, veuillez re-essayer plus tard.",
          {
            position: "top-center",
            type: "error",
          }
        );
        return;
      }
      else if (!this.isFormValid()) {
        this.$toasted.show("Veuillez remplir tous les champs correctement", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      this.$router.push({ name: "home" });
    },
    validateTitle(value) {
      // eslint-disable-next-line no-useless-escape
      if (value.length >= 1) {
        this.msg["title"] = "";
      } else if (value.length > 255) {
        this.msg["title"] = "Le titre ne peut pas avoir plus de 255 caractères";
      }
      else {
        this.msg["title"] = "Le titre ne peut pas être vide";
      }
    },
    validateDescription(value) {
      // eslint-disable-next-line no-useless-escape
      if (value.length >= 1) {
        this.msg["description"] = "";
      } else if (value.length > 1000) {
        this.msg["desciption"] = "La description ne peut pas avoir plus de 1000 caractères";
      } else {
        this.msg["description"] = "Votre ticket doit avoir une description";
      }
    }
  }
}
</script>

<template>
  <Layout>
    <PageHeader :title="title" :items="items" />
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Créer un ticket</h4>
            <form-wizard color="#556ee6" @on-complete="sendForm()">
              <tab-content icon="mdi mdi-account-circle">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group row mb-3">
                      <label class="col-md-12 col-form-label" for="title"
                        >Nom du ticket</label
                      >
                      <div class="col-md-12">
                        <input
                          id="title"
                          type="text"
                          class="form-control"
                          name="title"
                          v-model="ticket.title"
                        />
                        <span style="color: red" v-if="msg.title">{{
                          msg.title
                        }}</span>
                      </div>
                    </div>
                    <div class="form-group row mb-3">
                      <label class="col-md-12 col-form-label" for="description"
                        >Description</label
                      >
                      <div class="col-md-12">
                        <textarea
                          id="description"
                          type="text"
                          name="description"
                          class="form-control"
                          v-model="ticket.description"
                        ></textarea>
                        <span style="color: red" v-if="msg.description">{{
                          msg.description
                        }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </tab-content>
            </form-wizard>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<style scoped>
.img-icon {
  margin-top: 5px;
  width: 50px;
  height: 50px;
}

.pointer {
  cursor: pointer;
}
</style>
