<script>
import Layout from "../../layouts/main";
import request from "../../../helpers/request";
import ticketStatus from "../../../helpers/ticketStatus.enum";
import jwt from "jsonwebtoken";
import roles from "../../../helpers/roles.enum"

export default {
  page: {
    title: "Ticket",
    meta: [{ name: "description" }],
  },
  components: { Layout },
  data: () => {
    const token = localStorage.getItem("token")
    return {
      user: JSON.parse(localStorage.getItem("user")),
      ticket: undefined,
      message: "",
      status: ticketStatus,
      decodedToken: jwt.decode(token)
    }
  },
  methods: {
    toast(message, type) {
      this.$toasted.show(message, {
        position: "top-center",
        type,
      });
    },
    async getTicket(id) {
      const res = await request.create(`/api/back/ticket/${id}`).get();
      if (!res || !res.data) {
         this.$toasted.show("Une erreur est survenue pendant la récupérations du ticket!", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      this.ticket = res.data;
    },

    async update() {
      const res = await request.create(`/api/back/ticket/${this.ticket.id}`).put();
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est survenue pendant l'actualisation du statut du ticket", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      await this.getTicket(this.$route.params.id);
      return;
    },

    async create() {
      if(this.message === "")
        return;
      const res = await request.create(`/api/back/message/ticket/${this.ticket.id}`).post({description:this.message});
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est survenue pendant l'envoi du message!", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      this.message = "";
      await this.getTicket(this.$route.params.id);
      return;
    },
  },
  async mounted() {
    await this.getTicket(this.$route.params.id);
    if(this.ticket.user_id.id !== this.user.id && !this.isAdmin) {
      this.$router.push({
        name: "home"
      })
    }
  },
  computed: {
    translateStatus: function() {
      if(ticketStatus.OPEN === this.ticket.status) {
        return "Ouvert";
      }
      else{
        return "Fermé";
      }
    },
    isAdmin: function () {
      return this.decodedToken.roles.includes(roles.ROLE_ADMIN);
    },
  }
}
</script>

<template>
  <Layout>
    <div class="row">
      <div class="col-lg-12">
        <div class="card" v-if="ticket">
          <div class="card-body">
            <div class="row mt-4">
                <div class="col-md-3 text-center">
                  <h4>{{ticket.title}}</h4>
                </div>
                <div class="col-md-3 text-center">
                  <h5>{{new Date(ticket.dateTicket).toLocaleDateString("fr-FR")}}</h5>
                </div>
                <div class="col-md-3 text-center">
                  <h5>{{translateStatus}}</h5>
                </div>
                <div class="col-md-3 text-center" v-if="ticket.status === status.OPEN && isAdmin">
                    <button
                    @click="update()"
                    class="btn btn-primary chat-send w-md waves-effect waves-light">
                    <span class="d-none d-sm-inline-block mr-2">Fermer le ticket</span>
                    <i class="mdi mdi-send"></i>
                    </button>
                </div>
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <div class="col-lg-12">
                <div class="text-center">
                  <div class="row">
                    <div class="col-lg-12">
                      <b-card
                        v-for="(message, index) in ticket.messages"
                        :key="index"
                        :footer="new Date(message.dateMessage).toLocaleDateString('fr-FR')"
                        header-class="bg-transparent border-primary"
                        class="border border-primary"
                        no-body
                      >
                        <b-card-body>
                          <b-card-title>
                            <h4 class="card-title">
                              <i class="mdi mmdi-card-text-outline mr-3"></i>{{message.user_id.lastname}} {{message.user_id.firstname}}
                            </h4>
                          </b-card-title>
                          <b-card-text
                            >{{message.description}}
                          </b-card-text>
                        </b-card-body>
                      </b-card>
                      <div class="px-lg-3" v-if="ticket.status === status.OPEN">
                        <div class="p-3 chat-input-section">
                          <div class="row">
                            <div class="col">
                              <div class="position-relative">
                                <textarea
                                  id="description"
                                  type="text"
                                  name="description"
                                  class="form-control"
                                  v-model.trim="message"
                                ></textarea>
                                <div class="invalid-feedback"></div>
                              </div>
                            </div>
                            <div class="col-auto">
                              <button
                                @click="create()"
                                class="btn btn-primary chat-send w-md waves-effect waves-light"
                              >
                                <span class="d-none d-sm-inline-block mr-2"
                                  >Envoyer</span
                                >
                                <i class="mdi mdi-send"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>