<script>
import Layout from "../../layouts/main";
import PageHeader from "@/components/page-header";
import appConfig from "@/app.config";
import request from "../../../helpers/request";
import * as _ from "lodash";

/**
 * Cards component
 */
export default {
  page: {
    title: "Missions professionelle disponibles",
    meta: [{ name: "description", content: appConfig.description }],
  },
  components: { Layout, PageHeader },
  data() {
    return {
      title: "Missions professionelle disponibles",
      missions: [],
      searchTerms: '',
    };
  },
  watch: {
    searchTerms(value) {
      this.filterMissions(value);
    },
  },
  methods: {
    async getMissions(s = "") {
      const res = await request.create(`/api/back/search/mission?s=${s}`).get();
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est survenue pendant la récupérations des missions!", {
          position: "top-center",
          type: "error",
        });
      }
      this.missions = res.data;
    },
    filterMissions: _.debounce(async function (term) {
      await this.getMissions(term);
    }, 500),
    displayMissionSkills(skills) {
      const skillsLen = skills.length;
      if (skillsLen <= 3) return skills.join(', ');
      const sliceSkills = skills.slice(0, 3);
      return `${sliceSkills.join(', ')}... (+${skillsLen - 3} autres compétences)`;
    }
  },
  computed: {
    filteredMissions: function () {
      return this.missions.filter(m => m.status === 0)
    }
  },
  async mounted() {
    await this.getMissions();
  }
};
</script>

<template>
  <Layout>
    <PageHeader :title="title" :missions="missions" />
    <div class="row">
      <input
        types="text"
        class="form-control"
        placeholder="Type here"
        v-model="searchTerms"
        style="margin-bottom: 10px;"
      />
      <div v-for="(mission, index) of filteredMissions"
          :key="index" class="col-lg-6 col-xl-3" style="max-height: 16rem; min-height: 16rem; margin-bottom: 1rem;">
        <b-card style="max-height: 100%; min-height: 100%;">
          <b-card-title>
            <h5 class="card-title">{{ mission.title }}</h5>
            <h6 class="small-title">{{ mission.profile.name }}</h6>
          </b-card-title>
          <b-card-text>
            <p v-if="mission.skills.length">Compétences demandé: {{ displayMissionSkills(mission.skills) }}</p>
            <p v-else>Aucune compétence demandé</p>
          </b-card-text>
          <template #footer>
            <p v-if="mission.startDate && mission.endDate">{{ new Date(mission.startDate).toLocaleDateString("fr-FR")}} au {{ new Date(mission.endDate).toLocaleDateString("fr-FR") }}</p>
            <router-link :to="{name: 'Mission detail', params: {id: mission.id}}">
              <b-button variant="primary">
                Plus de detail
              </b-button>
            </router-link>
          </template>
        </b-card>
      </div>
    </div>
  </Layout>
</template>

<style>
  .small-title {
    font-size: 11px;
  }
  .card-footer {
    background-color: white !important;
  }
</style>
