<script>
import Layout from "../../layouts/main";
import request from "../../../helpers/request";
import refundStatus from "../../../helpers/refundStatus.enum";

export default {
  page: {
    title: "showPayment",
    meta: [{ name: "showPayment" }],
  },
  components: { Layout },
  data: () => ({
    payment: undefined,
    user: JSON.parse(localStorage.getItem("user"))
  }),
  methods: {
    async getPayment(id) {
      const res = await request.create(`/api/back/payment/${id}`).get();
      if (!res || !res.data) {
        this.$toasted.show("Paiement non trouvé!", {
          position: "top-center",
          type: "error",
        });
        this.$router.push({ name: "payment list admin" });
        return;
      }
      this.payment = res.data;
    },
    async askRefund() {
      const res = await request.create(`/api/back/payment/refund/create/${this.payment.id}`).post();
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est survenu!", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      await this.getPayment(this.payment.id);
    },
    async cancelRefund() {
      const res = await request.create(`/api/back/payment/refund/cancel/${this.payment.refund.id}`).put();
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est survenu!", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      await this.getPayment(this.payment.id);
    }
  },
  computed: {
    paymentIsNotSucceeded: function () {
      return this.payment.status !== "succeeded";
    },
    paymentStatus: function () {
      if (this.payment.status === "succeeded") return "success"
      return "danger"
    },
    refundStatus: function () {
      if (!this.payment.refund) return;
      else if (this.payment.refund.status === refundStatus.WAITING) return "primary";
      else if (this.payment.refund.status === refundStatus.REFUNDED) return "success";
      else return "danger";
    },
    userCanRefund: function () {
      return !this.user.profile.premiumTry;
    },
    paymentHaveRefundRequest: function () {
      return !!this.payment.refund;
    },
    refundStatusTranslate: function () {
      if (!this.payment.refund) return "";
      else if (refundStatus.WAITING === this.payment.refund.status) return "En attente";
      else if (refundStatus.REFUNDED === this.payment.refund.status) return "Validé";
      else if (refundStatus.REFUSED === this.payment.refund.status) return "Refusé";
      else return "Annulé";
    },
    refundRequestIsWaiting: function () {
      if (!this.payment.refund) return false;
      return this.payment.refund.status === refundStatus.WAITING;
    }
  },
  async mounted() {
    await this.getPayment(this.$route.params.id);
  },
};
</script>

<template>
<Layout>
    <div class="row" v-if="payment">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row mt-4">
              <h4>Votre paiment</h4>
              <div class="col-lg-12">
                <b-card
                  :header-class="'border-' + paymentStatus + ' bg-transparent'"
                  class="border"
                  :class="'border-' + paymentStatus"
                >
                  <template v-slot:header>
                    <h5 class="my-0" :class="'text-' + paymentStatus">
                      <i class="mdi mdi-bullseye-arrow mr-3"></i>Numéro de
                      transaction : {{payment.stripe_id}}
                    </h5>
                  </template>
                  <h5 class="card-title mt-0">{{payment.amount}}€</h5>
                  <p class="card-text">
                    ID de l'utilisateur : {{payment.user_id}}<br/>
                    ID du profil : {{payment.profile_id}}<br/>
                    {{new Date(payment.date).toLocaleDateString("fr-FR")}}
                  </p>
                </b-card>
              </div>
            </div>
          </div>
        </div>

        <!-- IF REFUND -->
        <div class="card" v-if="paymentHaveRefundRequest">
          <div class="card-body">
            <div class="row mt-4">
              <h4>Votre demande de remboursement</h4>
              <div class="col-lg-12">
                <b-card
                  :header-class="'border-' + refundStatus + ' bg-transparent'"
                  class="border"
                  :class="'border-' + refundStatus"
                >
                  <template v-slot:header>
                    <h5 class="my-0" :class="'text-' + refundStatus">
                      <i class="mdi mdi-bullseye-arrow mr-3"></i>Statut : {{refundStatusTranslate}}
                    </h5>
                  </template>
                  <p class="card-text">
                    Date de la demande de remboursement : {{new Date(payment.refund.request_date).toLocaleDateString("fr-FR")}}<br/>
                    ID de l'utilisateur : {{payment.refund.user_id}}<br/>
                  </p>
                </b-card>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="button-items">
            <button
                v-if="userCanRefund && !paymentHaveRefundRequest"
                type="button"
                class="btn btn-primary mt-2 waves-effect waves-light"
                style="margin-right: 10px;"
                @click="askRefund()"
              >
                Demander un remboursement
            </button>
            <button
                v-if="paymentHaveRefundRequest && refundRequestIsWaiting"
                type="button"
                class="btn btn-danger mt-2 waves-effect waves-light"
                style="margin-right: 10px;"
                @click="cancelRefund()"
              >
                Annuler ma demande de remboursement
            </button>
            <div class="button-items">
              <router-link
                class="btn btn-primary"
                :to="{ name: 'payment list' }"
              >
                Retour à la liste des paiements
              </router-link>
            </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<style>
</style>
