<template>
  <div>
    Connexion en cours...
    Si vous n'êtes pas redirigé après 5secondes, cliquez <router-link :to="{name: 'home'}"><a>ici</a></router-link>
  </div>
</template>

<script>
import request from '../../../helpers/request'
import jwt from "jsonwebtoken";
import roles from '../../../helpers/roles.enum';

export default {
  name: 'Authent',
  data: () => ({}),
  methods: {
    async setToken() {
      const token = this.$route.query.token;
      if (!token) {
        this.$router.push({name: "logout"});
        return;
      }

      try {
        const decodedToken = jwt.decode(token);
        if (decodedToken.roles.some(r => roles.ROLE_DESACTIVATED === r)) {
          this.$router.push({name: "blockedAccount"});
          return;
        }

        localStorage.setItem('token', token);

        const me = await request.create('/api/back/account/').get();
        localStorage.setItem('user', JSON.stringify(me.data));

        this.$router.push({name: "home"})
      } catch(e) {
        this.$router.push({name: "logout"});
        return;
      }
    },
  },
  async mounted() {
    await this.setToken();
  },
}
</script>

<style>

</style>