<template>
  <Layout>
    <section class="bg-account-pages height-100vh">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="my-5 pt-5">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="text-center my-5" style="color: white">
                          <h1 class="font-weight-bold text-error">
                            Votre compte est 
                            <span style="color: red"> bloqué </span>
                          </h1>
                          <h3 class="text-uppercase">
                            Vous n'êtes plus premium, vous n'aurez plus accès à ce compte tant que l'administrateur de votre compte entreprise ne soucrira pas au mode premium.
                          </h3>
                          <router-link :to="{name: 'logout'}">
                            <button class="btn btn-primary">
                              Se déconnecter
                            </button>
                          </router-link>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </Layout>
</template>

<script>
export default {
  name: 'BlockedAccount',
  data: () => ({}),
}
</script>

<style>
</style>