<script>
import request from '../../../helpers/request';
import Layout from "../../layouts/main";
import PageHeader from "@/components/page-header";
import appConfig from "@/app.config";

export default {
  name: "change-email",
  components: { Layout, PageHeader },
  page: {
    title: "Changement d'email",
    meta: [{ name: "description", content: appConfig.description }],
  },
  data: () => ({
    IsError: false,
  }),
  methods: {
    async changeEmail(email, newEmail, token) {
      const url = new URL("/validation-account", location);
      const res = await request.create(`/api/back/account/new-email?url=${url.href.replace("secure.","www.")}&newEmail=${newEmail}&token=${token}&email=${email}`).put();
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est survenue pendant le changement d'email!",{
          position: "top-center",
          type: "error",
        });
        this.IsError = true;
        return;
      }
      const user = JSON.parse(localStorage.getItem("user"));
      user.email = newEmail;
      localStorage.setItem("user", JSON.stringify(user));
    },
  },
  async mounted() {
    const email = this.$route.query.email;
    const token = this.$route.query.token;
    const newEmail = this.$route.query.newEmail;
    await this.changeEmail(email, newEmail, token);
  },
};
</script>

<template>
  <Layout>
    <PageHeader :title="title" :items="items" />
    <section class="bg-account-pages height-100vh">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="my-5 pt-5">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="text-center my-5" style="color: white" v-if="!IsError">
                          <h1 class="font-weight-bold text-error">
                            Votre
                            <span style="color: red"> email </span>
                            a bien été changé
                          </h1>
                          <h3 class="text-uppercase">
                            Un email vous a été envoyé pour le valider.
                          </h3>
                        </div>
                        <div class="text-center my-5" style="color: white" v-else>
                          <h1 class="font-weight-bold text-error">
                            Une
                            <span style="color: red"> erreur </span>
                            est survenue pendant le changement d'email.
                          </h1>
                          <h3 class="text-uppercase">
                            Ré-essayez la procédure dans quelque instant. Si le problème persiste, veuillez ouvrir un ticket auprès du support.
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </Layout>
</template>
