<script>
import Layout from "../../layouts/main";
import PageHeader from "@/components/page-header";
import appConfig from "@/app.config";
import request from "../../../helpers/request";
import userIcon from "../../../helpers/icons/userIcon";

/**
 * Form-element component
 */
export default {
  page: {
    title: "Modification de profil",
    meta: [{ name: "description", content: appConfig.description }],
  },
  components: { Layout, PageHeader },
  data() {
    return {
      title: "Forms Elements",
      user: JSON.parse(localStorage.getItem("user")),
      status: "not_accepted",
      checkCustom: "not_accepted",
      checked: true,
      msg: {
        firstname: '',
        lastname: '',
      },
    };
  },
  watch: {
    "user.firstname": function (value) {
      this.user.firstname = value;
      this.validateFirstname(value);
    },
    "user.lastname": function (value) {
      this.user.lastname = value;
      this.validateLastname(value);
    },
  },
  methods: {
    validateFirstname(value) {
      // eslint-disable-next-line no-useless-escape
      if (value.length === 0) this.msg.firstname = "Ce champ est obligatoire";
      else {
        this.msg["firstname"] = "";
      }
    },
    validateLastname(value) {
      // eslint-disable-next-line no-useless-escape
      if (value.length === 0) this.msg.lastname = "Ce champ est obligatoire";
      else {
        this.msg["lastname"] = "";
      }
    },
    isFormValid() {
      return (
        this.msg.firstname === "" &&
        this.msg.lastname === ""
      );
    },
    async updateUser() {
      if (!this.isFormValid()) {
        this.$toasted.show("Veuillez remplir tous les champs correctement", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      const res = await request.create("/api/back/account/").put(this.user);
      if (!res || !res.data) {
        console.error(res);
        this.$toasted.show("Une erreur est survenue!", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      localStorage.setItem("user", JSON.stringify(this.user));
      this.$router.push({ name: "Display profil" });
    },
    uploadPicture(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (let j = 0; j < files.length; j++) {
        if (files[j].type !== "image/jpeg" && files[j].type !== "image/jpg" && files[j].type !== "image/png") {
          this.$toasted.show("Vous devez upload une image!", {
            position: "top-center",
            type: "error",
          });
          return;
        }
        if (files[j].size > 2097152) {
          this.$toasted.show("Votre image ne doit pas dépasser les 2MB!", {
            position: "top-center",
            type: "error",
          });
          return;
        }
      }
      for (let i = 0; i < files.length; i++) this.createImage(files[i]);
    },
    createImage(file) {
      var reader = new FileReader();

      reader.onload = (e) => {
        this.user.picture = [{ name: file.name, value: e.target.result }];
      };
      reader.readAsDataURL(file);
    },
  },
  computed: {
    userImage: function () {
      if (
        this.user.picture &&
        this.user.picture.length &&
        this.user.picture[0].value
      )
        return this.user.picture[0].value;
      else return userIcon;
    },
  },
};
</script>

<template>
  <Layout>
    <PageHeader :title="title" :items="items" />
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Modification de profil</h4>
            <p class="card-title-desc">
              Modifiez les informations de votre profil
            </p>

            <div class="row">
              <div class="col-12">
                <input
                  type="file"
                  id="user_picture"
                  name="user_picture"
                  accept="image/jpeg, image/png"
                  @change="uploadPicture"
                />

                <img :src="userImage" alt="userImg" class="user-image" />

                <b-form-group
                  id="firstname-label"
                  label-cols-sm="2"
                  label-cols-lg="2"
                  label="Prénom"
                  label-for="url"
                >
                  <b-form-input
                    id="firstname"
                    v-model="user.firstname"
                  ></b-form-input>
                   <span style="color: red" v-if="msg.firstname">{{ msg.firstname }}</span>
                </b-form-group>

                <b-form-group
                  id="lastname-label"
                  label-cols-sm="2"
                  label-cols-lg="2"
                  label="Nom"
                  label-for="url"
                >
                  <b-form-input
                    id="lastname"
                    v-model="user.lastname"
                  ></b-form-input>
                   <span style="color: red" v-if="msg.lastname">{{ msg.lastname }}</span>
                </b-form-group>
                <label class="col-md-12 col-form-label">
                  <button class="btn btn-primary" @click="updateUser()">
                    Modifier
                  </button></label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<style>
.user-image {
  margin-top: 5px;
  width: 75px;
  height: 75px;
}
</style>
