<script>
import Layout from "../../layouts/main";
import request from "../../../helpers/request";
import userIcon from "../../../helpers/icons/userIcon";
import missionStatus from "../../../helpers/missionStatus.enum";

export default {
  page: {
    title: "ProfilCard",
    meta: [{ name: "description" }],
  },
  components: { Layout },
  data: () => ({
    user: undefined,
    connectedUser: JSON.parse(localStorage.getItem("user")),
    connectedUserMissions: [],
    selectedMissionId: undefined,
    showImage: false,
    userImage: "",
  }),
  methods: {
    async getUser(id) {
      const res = await request.create(`/api/back/users/${id}`).get();
      if (!res || !res.data) {
        this.toast("Utilisateur non trouvé!", "error");
        this.$router.push({ name: "Users List" });
        return;
      }
      if (!res.data.profile.certified) {
        this.toast("Cet utilisateur n'est pas certifié!", "error");
        this.route.push({name: "home"});
      }
      this.user = res.data;
    },
    async getUserImage(doc) {
      if (!doc) {
        return userIcon;
      }
      const res = await request.create(`/api/back/search/doc?n=${doc}`).get();
      if (!res || !res.data) {
        return doc;
      }
      return res.data;
    },
    async getConnectedUserMissions() {
      const res = await request
        .create(`/api/back/mission/author-missions`)
        .get();
      if (!res || !res.data) {
        this.toast("Une erreur est survenue pendant la récupération de vos missions, vous ne pourrez pas contacter cet utilisateur!", "error");
        return;
      }
      this.connectedUserMissions = res.data;
    },
    async notifyUser() {
      if (!this.selectedMissionId) return;
      const missionUrl = new URL(
        `/mission/${this.selectedMissionId}`,
        location
      );
      const res = await request
        .create(`/api/back/mission/notify/${this.user.id}/${this.selectedMissionId}?url=${missionUrl}`).get();
      if (
        res &&
        res.response &&
        res.response.status &&
        res.response.status === 400
      ) {
        this.toast(res.response.data, "error");
      } else if (!res || !res.data) {
        this.toast("Une erreur est survenue pendant la demande de contact!", "error");
      } else {
        this.toast("Le freelance a été contacté!", "success");
      }
      return;
    },
    async setUserToEnterpriseAdmin() {
      const res = await request.create(`/api/back/account/profile/add-admin/${this.user.id}`).put();
      if (!res || !res.data) {
        this.toast("Une erreur est survenue pendant le changement de rôle", "error");
        return;
      }
      await this.getUser(this.user.id);
    },
    async removeUserFromEnterprise() {
      await request.create(`/api/back/account/profile/remove-user/${this.user.id}`).delete();
      this.$router.push({name: "enterprise_admin"});
      return;
    },
    toast(message, type) {
      this.$toasted.show(message, {
        position: "top-center",
        type,
      });
    }
  },
  computed: {
    filteredConnectedUserMissions: function () {
      return this.connectedUserMissions.filter(m => m.status === missionStatus.COMING);
    }
  },
  async mounted() {
    await this.getUser(this.$route.params.id);
    this.userImage = await this.getUserImage(
      this.user.picture && this.user.picture.length && this.user.picture[0]
    );
    this.showImage = true; // Set to true to refresh DOM and display loaded image
    if (this.connectedUser.profile.status === 1) {
      await this.getConnectedUserMissions();
    }
  },
};
</script>

<template>
  <Layout>
    <div class="row" v-if="user">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row mt-4">
              <div class="col-lg-12">
                <div class="text-center">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mt-4 mt-md-0">
                        <img
                          v-if="showImage"
                          class="rounded-circle avatar-xl"
                          :alt="
                            (user.picture &&
                              user.picture.length &&
                              user.picture[0]) ||
                            'userIcon'
                          "
                          :src="userImage"
                          data-holder-rendered="true"
                        />
                        <br />
                      </div>
                    </div>
                  </div><br/>
                  <h4>{{ user.firstname }} {{ user.lastname }}</h4>
                  <h5>{{ user.email }}</h5>
                  <br />
                  <div class="row">
                    <div class="col-lg-12">
                      <b-card
                        header-class="bg-transparent border-primary"
                        class="border border-primary"
                        no-body
                      >
                        <b-card-body>
                          <b-card-title>
                            <h4 class="card-title">
                              <i class="mdi mmdi-card-text-outline mr-3"></i
                              >Description
                            </h4>
                          </b-card-title>
                          <b-card-text>
                            {{ user.profile.description }}
                          </b-card-text>
                        </b-card-body>
                      </b-card>
                    </div>
                    <div class="col-lg-4" v-if="user.profile.status === 2">
                      <b-card
                        header-class="bg-transparent border-primary"
                        class="border border-primary"
                        no-body
                      >
                        <b-card-body>
                          <b-card-title>
                            <h4 class="card-title">
                              <i class="mdi mdi-account-cash mr-3"></i>Tarif
                              journalier
                            </h4>
                          </b-card-title>
                          <b-card-text>
                            {{
                              user.profile.price
                                ? `${user.profile.price}€`
                                : "Non renseigné"
                            }}
                          </b-card-text>
                        </b-card-body>
                      </b-card>
                    </div>
                    <div class="col-lg-4">
                      <b-card
                        header-class="bg-transparent border-primary"
                        class="border border-primary"
                        no-body
                      >
                        <b-card-body>
                          <b-card-title>
                            <h4 class="card-title">
                              <i class="mdi mdi-book-account mr-3"></i>Nom de
                              société
                            </h4>
                          </b-card-title>
                          <b-card-text>
                            {{ user.profile.name }}
                          </b-card-text>
                        </b-card-body>
                      </b-card>
                    </div>
                    <div class="col-lg-4">
                      <b-card
                        header-class="bg-transparent border-primary"
                        class="border border-primary"
                        no-body
                      >
                        <b-card-body>
                          <b-card-title>
                            <h4 class="card-title">
                              <i class="mdi mdi-pillar mr-3"></i>N° de SIRET
                            </h4>
                          </b-card-title>
                          <b-card-text>
                            {{ user.profile.siret }}
                          </b-card-text>
                        </b-card-body>
                      </b-card>
                    </div>
                    <div class="col-lg-3">
                      <b-card
                        header-class="bg-transparent border-primary"
                        class="border border-primary"
                        no-body
                      >
                        <b-card-body>
                          <b-card-title>
                            <h4 class="card-title">
                              <i class="mdi mdi-cellphone mr-3"></i>Téléphone
                            </h4>
                          </b-card-title>
                          <b-card-text>
                            {{
                              user.profile.phoneNumber ||
                              "Aucun numéro de téléphone associé"
                            }}
                          </b-card-text>
                        </b-card-body>
                      </b-card>
                    </div>
                    <div class="col-lg-3">
                      <b-card
                        header-class="bg-transparent border-primary"
                        class="border border-primary"
                        no-body
                      >
                        <b-card-body>
                          <b-card-title>
                            <h4 class="card-title">
                              <i class="mdi mdi-home-map-marker mr-3"></i
                              >Adresse
                            </h4>
                          </b-card-title>
                          <b-card-text>
                            {{
                              user.profile.address || "Aucune adresse associé"
                            }}
                          </b-card-text>
                        </b-card-body>
                      </b-card>
                    </div>
                    <div class="col-lg-3">
                      <b-card
                        header-class="bg-transparent border-primary"
                        class="border border-primary"
                        no-body
                      >
                        <b-card-body>
                          <b-card-title>
                            <h4 class="card-title">
                              <i class="mdi mdi-city mr-3"></i>Département
                            </h4>
                          </b-card-title>
                          <b-card-text>
                            {{
                              user.profile.departement ||
                              "Aucun département associé"
                            }}
                          </b-card-text>
                        </b-card-body>
                      </b-card>
                    </div>
                    <div class="col-lg-3">
                      <b-card
                        header-class="bg-transparent border-primary"
                        class="border border-primary"
                        no-body
                      >
                        <b-card-body>
                          <b-card-title>
                            <h4 class="card-title">
                              <i class="mdi mdi-flag mr-3"></i>Pays
                            </h4>
                          </b-card-title>
                          <b-card-text>
                            {{ user.profile.country || "Aucun pays associé" }}
                          </b-card-text>
                        </b-card-body>
                      </b-card>
                    </div>
                    <div class="col-lg-12" v-if="user.profile.status === 2">
                      <b-card
                        header-class="bg-transparent border-primary"
                        class="border border-primary"
                        no-body
                      >
                        <b-card-body>
                          <b-card-title>
                            <h4 class="card-title">
                              <i class="mdi mdi-code-braces-box mr-3"></i
                              >Compétences
                            </h4>
                          </b-card-title>
                          <b-card-text>
                            {{
                              user.profile.skills && user.profile.skills.length
                                ? user.profile.skills.join(", ")
                                : "Aucune compétence d'indiquée"
                            }}
                          </b-card-text>
                        </b-card-body>
                      </b-card>
                    </div>
                  </div>
                  <div>
                    <div
                      v-if="
                        user.profile.status === 2 &&
                        connectedUser.profile.status === 1 &&
                        connectedUserMissions.length
                      "
                    >
                      <p>
                        Ce profil vous intéresse pour une de vos mission ? Vous
                        pouvez le contacter directement pour lui dire !
                      </p>
                      <select v-model="selectedMissionId">
                        <option
                          v-for="(mission, index) in filteredConnectedUserMissions"
                          :value="mission.id"
                          :key="index"
                        >
                          {{ mission.title }}
                        </option></select
                      ><br />
                      <button
                        type="button"
                        class="btn btn-primary mt-2 waves-effect waves-light"
                        @click="notifyUser()"
                      >
                        Contactez-le pour la mission selectionné !
                      </button>
                    </div>
                    <div v-if="
                      user.profile.id === connectedUser.profile.id && 
                      user.id !== connectedUser.id && 
                      connectedUser.roles.includes('ROLE_ENTERPRISE_ADMIN')
                    ">
                      Ce profil appartient à votre entreprise.<br />
                      <button
                        type="button"
                        class="btn btn-primary mt-2 waves-effect waves-light"
                        style="margin-right: 5px;"
                        @click="setUserToEnterpriseAdmin()"
                      >
                        Passer son compte en admin
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger mt-2 waves-effect waves-light"
                        @click="removeUserFromEnterprise()"
                      >
                        Supprimer ce compte
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>
