<script>
import Layout from "../../layouts/main";
import PageHeader from "@/components/page-header";
import appConfig from "@/app.config";
import userIcon from "../../../helpers/icons/userIcon";
import pdfIcon from "../../../helpers/icons/pdfIcon";
import request from "../../../helpers/request";
import jwt from "jsonwebtoken";
import roles from "../../../helpers/roles.enum";

export default {
  page: {
    title: "Mon profil",
    meta: [{ name: "description", content: appConfig.description }],
  },
  components: { Layout, PageHeader },
  data() {
    const token = localStorage.getItem("token");
    const user = JSON.parse(localStorage.getItem("user"));
    return {
      title: "Mon profil",
      user: undefined,
      status: "not_accepted",
      checkCustom: "not_accepted",
      checked: true,
      userImage: user.picture && user.picture.length && user.picture[0].value,
      userDefaultIcon: userIcon,
      profileHasDocument: false,
      profileDocuments: [],
      docIcon: pdfIcon,
      decodedToken: jwt.decode(token),
      validatedEmailSend: false,
      editEmail: false,
      newEmail: '',
    };
  },
  methods: {
    async fetchDocument(doc) {
      const res = await request.create(`/api/back/search/doc?n=${doc}`).get();
      if (!res || !res.data) {
        return doc;
      }
      return res.data;
    },
    downloadDocument(index) {
      const base64Data = this.profileDocuments[index].split("base64,");
      const byteCharacters = atob(base64Data[1]);
      const byteNumbers = new Array(byteCharacters.length);
      for (let i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      const byteArray = new Uint8Array(byteNumbers);
      const blob = new Blob([byteArray], { type: "application/pdf" });
      const link = document.createElement("a");
      link.href = window.URL.createObjectURL(blob);
      link.download = this.user.profile.documents[index].endsWith(".pdf")
        ? this.user.profile.documents[index]
        : `${this.user.profile.documents[index]}.pdf`;
      link.click();
      return;
    },
    async deleteAccount() {
      const res = await request.create(`/api/back/account/`).delete();
      if (!res || res.data !== '') {
        this.$toasted.show("Une erreur est survenue pendant la suppression de votre compte!", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      window.location = "/logout";
    },
    async validateEmail() {
      const url = new URL('/validation-account', location);
      const res = await request.create(`/api/back/account/confirme-email?url=${url.href.replace('secure.', 'www.')}`).put();
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est survenue pendant l'envoi de mail de validation de compte!", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      this.validatedEmailSend = true;
    },
    async changeEmail() {
      const url = new URL('/change-email', location);
      const res = await request.create(`/api/back/account/change-email?url=${url.href}&newEmail=${this.newEmail}`).put();
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est survenue pendant l'envoi de mail!", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      this.$toasted.show("Un mail vous a été envoyé a votre adresse actuelle!", {
        position: "top-center",
        type: "success",
      });
      this.newEmail = '';
      this.editEmail = false;
      return;
    },
    async getUser() {
      try {
        const res = await request.create('/api/back/account/').get();
        localStorage.setItem('user', JSON.stringify(res.data));
        this.user = res.data;
      } catch (e) {
        this.$toasted.show("Une erreur est survenue pendant la récupération de votre profil!", {
          position: "top-center",
          type: "error",
        });
      }
    }
  },
  computed: {
    hasValidatedEmail: function() {
      return this.user.roles.some(r => roles.ROLE_VALIDE === r);
    },
    canUpdateProfilePro: function () {
      if (!this.user.profile.certified) return true;
      return this.decodedToken.roles.some(r => [roles.ROLE_FREELANCE, roles.ROLE_ENTERPRISE_ADMIN].includes(r));
    }
  },
  async mounted() {
    await this.getUser();
    this.profileHasDocument = !!this.user.profile.documents.length;
    if (this.profileHasDocument) {
      for (let i = 0; i < this.user.profile.documents.length; i++) {
        this.profileDocuments[i] = await this.fetchDocument(
          this.user.profile.documents[i]
        );
      }
      // this.profileHasDocument = false;
    }
  },
};
</script>

<template>
  <Layout v-if="user">
    <PageHeader :title="title" :items="items" />

    <div class="row" v-if="!hasValidatedEmail">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Votre email n'est pas confirmé !</h4>
            <div class="row">
              <div class="col-12">
                <button v-if="!validatedEmailSend" class="btn btn-danger" @click="validateEmail()">
                  Valider son email
                </button>
                <div v-else>Un email vous a été envoyé !</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Mes informations personnelles</h4>

            <div class="row">
              <div class="col-12">
                  <img
                    class="user_picture"
                    :src="userImage || userDefaultIcon"
                    :alt="user.picture || 'userIcon'"
                  />
                  <b-form-group
                    id="email-label"
                    label-cols-sm="2"
                    label-cols-lg="2"
                    label="Email"
                    label-for="email"
                  >
                    <p>{{ user.email }}</p>
                  </b-form-group>

                  <b-form-group
                    id="firstname-label"
                    label-cols-sm="2"
                    label-cols-lg="2"
                    label="Prénom"
                    label-for="firstname"
                  >
                    <p>{{ user.firstname }}</p>
                  </b-form-group>

                  <b-form-group
                    id="firstname-label"
                    label-cols-sm="2"
                    label-cols-lg="2"
                    label="Nom"
                    label-for="lastname"
                  >
                    <p>{{ user.lastname }}</p>
                  </b-form-group>

                  <label class="col-md-12 col-form-label">
                    <router-link
                      class="btn btn-primary"
                      :to="{ name: 'edit profil' }"
                      style="margin-right: 15px;"
                    >
                      Modifier mes informations personnelles
                    </router-link>
                    <button class="btn btn-primary" v-if="hasValidatedEmail" @click="editEmail = true;">
                      Changer son email
                    </button>
                  </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" v-if="editEmail && hasValidatedEmail">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Changer mon email</h4>

            <div class="row">
              <div class="col-12">
                  <b-form-group
                    id="email-change-label"
                    label-cols-sm="2"
                    label-cols-lg="2"
                    label="Email"
                    label-for="email"
                  >
                    <b-form-input
                    id="email-change"
                    type="email"
                     v-model="newEmail"
                  ></b-form-input>
                  </b-form-group>
                  <label class="col-md-12 col-form-label">
                    <button class="btn btn-primary" @click="changeEmail()" style="margin-right: 15px;">
                      Modifier mon email
                    </button>
                    <button class="btn btn-danger" @click="newEmail = ''; editEmail = false;">
                      Annuler
                    </button>
                  </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Mon profil Pro</h4>
            <p class="card-title-desc">
              <router-link
                :to="{ name: 'ProfilCard', params: { id: user.id } }"
              >
                Visualiser votre profil
              </router-link>
            </p>

            <div class="row">
              <div class="col-12">
                <form class="form-horizontal" role="form">
                  <b-form-group
                    id="name-company"
                    label-cols-sm="2"
                    label-cols-lg="2"
                    label="Nom d'entreprise"
                    label-for="tele"
                  >
                    <p>{{ user.profile.name || "" }}</p>
                  </b-form-group>

                  <b-form-group
                    id="siret-number"
                    label-cols-sm="2"
                    label-cols-lg="2"
                    label="SIRET"
                    label-for="tele"
                  >
                    <p>{{ user.profile.siret || "" }}</p>
                  </b-form-group>

                  <b-form-group
                    id="description"
                    label-cols-sm="2"
                    label-cols-lg="2"
                    label="Ma description"
                    label-for="tele"
                  >
                    <p>{{ user.profile.description || "" }}</p>
                  </b-form-group>

                  <b-form-group
                    id="premium"
                    label-cols-sm="2"
                    label-cols-lg="2"
                    label="Premium"
                    label-for="tele"
                  >
                    <p
                      v-if="
                        user.profile.premium_until &&
                        new Date(user.profile.premium_until) > new Date()
                      "
                    >
                      jusqu'au
                      {{
                        new Date(user.profile.premium_until).toLocaleDateString("fr-FR")
                      }}
                    </p>
                    <p v-else>Votre compte n'est pas premium</p>
                  </b-form-group>

                  <b-form-group
                    id="skills"
                    label-cols-sm="2"
                    label-cols-lg="2"
                    label="Mes compétences"
                    label-for="tele"
                    v-if="user.profile.status !== 1"
                  >
                    <p>
                      {{
                        (user.profile.skills &&
                          user.profile.skills.join(", ")) ||
                        ""
                      }}
                    </p>
                  </b-form-group>

                  <b-form-group
                    id="price"
                    label-cols-sm="2"
                    label-cols-lg="2"
                    label="Tarifs journalier"
                    label-for="tele"
                    v-if="user.profile.status !== 1"
                  >
                    <p>{{ user.profile.price || "Non renseigné" }}</p>
                  </b-form-group>

                  <b-form-group
                    id="phone"
                    label-cols-sm="2"
                    label-cols-lg="2"
                    label="Numéro de téléphone"
                    label-for="tele"
                  >
                    <p>{{ user.profile.phoneNumber || "" }}</p>
                  </b-form-group>

                  <b-form-group
                    id="address"
                    label-cols-sm="2"
                    label-cols-lg="2"
                    label="Adresse"
                    label-for="tele"
                  >
                    <p>{{ user.profile.address || "" }}</p>
                  </b-form-group>

                  <b-form-group
                    id="departement"
                    label-cols-sm="2"
                    label-cols-lg="2"
                    label="Département"
                    label-for="tele"
                  >
                    <p>{{ user.profile.departement || "" }}</p>
                  </b-form-group>

                  <b-form-group
                    id="town"
                    label-cols-sm="2"
                    label-cols-lg="2"
                    label="Ville"
                    label-for="tele"
                  >
                    <p>{{ user.profile.town || "" }}</p>
                  </b-form-group>

                  <b-form-group
                    id="country"
                    label-cols-sm="2"
                    label-cols-lg="2"
                    label="Pays"
                    label-for="tele"
                  >
                    <p>{{ user.profile.country || "" }}</p>
                  </b-form-group>

                  <b-form-group
                    id="docs"
                    label-cols-sm="2"
                    label-cols-lg="2"
                    label="Documents (N'apparaissent pas sur le profil, ils permettent à un admin de vous certifier)"
                    label-for="tele"
                  >
                    <div v-if="profileHasDocument">
                      <div v-for="(document, index) in user.profile.documents"
                           :key="index">
                        <img class="img-icon pointer"
                             :src="docIcon"
                             :alt="document"
                             @click="downloadDocument(index)"/>
                        {{ user.profile.documents[index] }}
                      </div>
                    </div>
                    <p v-else>Aucun documents d'upload</p>
                  </b-form-group>

                  <label class="col-md-12 col-form-label" v-if="canUpdateProfilePro">
                    <router-link
                      class="btn btn-primary"
                      :to="{ name: 'edit profil Pro' }"
                    >
                      Modifier mon profil pro
                    </router-link>
                  </label>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-danger" @click="deleteAccount()">
      Supprimer son compte
    </button>
  </Layout>
</template>

<style scoped>
.img-icon {
  margin-top: 5px;
  width: 50px;
  height: 50px;
}

.user_picture {
  margin-top: 5px;
  width: 75px;
  height: 75px;
}

.pointer {
  cursor: pointer;
}
</style>
