<script>
import Layout from "../../layouts/main.vue";
import PageHeader from "@/components/page-header";
import request from '../../../helpers/request';

export default {
  page: {
    title: "Devenir premium !",
    meta: [{ name: "description" }]
  },
  components: { Layout, PageHeader },
  data() {
    const user = JSON.parse(localStorage.getItem("user"));
    return {
      title: "Les offres premium",
      user: user,
      prices: undefined,
    };
  },
  methods: {
    async startPayment() {
      const stripe = window.Stripe(process.env.VUE_APP_STRIPE_PUB_KEY);
      const res = await request.create("/api/back/payment/create-checkout-session").post();
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est survenue pendant la création de la session paiement!", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      localStorage.setItem("payment_session", JSON.stringify(res.data));
      const checkout = await stripe.redirectToCheckout({sessionId: res.data.id});
      if (!checkout.error) {
        this.$toasted.show("Une erreur est survenue pendant la redirection vers plateforme de paiement!", {
          position: "top-center",
          type: "error",
        });
        return;
      }
    },
    async getPrices() {
      const res = await request.create(`/api/back/payment/offer`).get();
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est survenue pendant la récupération des prix!", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      this.prices = res.data;
    }
  },
  computed: {
    profileIsAlreadyPremium: function() {
      const premium_until = this.user.profile.premium_until;
      if (!premium_until) return false;
      return (new Date(premium_until)).getTime() > (new Date()).getTime();
    },
    userIsFreelance: function () {
      return this.user.profile.status === 2;
    },
    freelanceOffer: function () {
      const offer = this.prices.find(p => p.status === 2);
      return offer && offer.amount || 0;
    },
    enterpriseOffer: function () {
      const offer = this.prices.find(p => p.status === 1);
      return offer && offer.amount || 0;
    }
  },
  async mounted() {
    const stripeScript = document.createElement('script');
    stripeScript.setAttribute('src', 'https://js.stripe.com/v3/');
    document.head.appendChild(stripeScript);
    await this.getPrices();
  }
};
</script>

<template>
  <Layout>
    <PageHeader :title="title" :items="items" />
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="text-center mb-5">
          <h4>Souscrire à un abonnement</h4>
          <p>Le premier mois, satisfait ou remboursé !</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-3 col-sm-6" v-if="prices">
        <div class="card pricing-box">
          <div class="card-body p-4">
            <div class="text-center">
              <div class="mt-3">
                <i class="ri-edit-box-line text-primary h1"></i>
              </div>
              <h5 class="mt-4">Offre 1 mois</h5>

              <div class="font-size-14 mt-4 pt-2">
                <ul class="list-unstyled plan-features" v-if="userIsFreelance">
                  <li>Votre profil est mis en avant</li>
                </ul>
                <ul class="list-unstyled plan-features" v-else>
                  <li>Vos missions sont mises en avant</li>
                  <li>Vous pouvez créer plusieurs comptes pour votre entreprise</li>
                </ul>
              </div>

              <div class="mt-5">
                <h1 class="font-weight-bold mb-1">
                  <sup class="mr-1">
                    {{userIsFreelance ? freelanceOffer : enterpriseOffer}}
                    <small>€</small>
                  </sup>
                </h1>
                <p class="text-muted">Par mois</p>
              </div>

              <div class="mt-5 mb-3" v-if="!profileIsAlreadyPremium">
                <button class="btn btn-primary w-md" @click="startPayment">Souscrire</button>
              </div>
              <div v-else>
                Vous êtes déjà un membre premium !
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>