<script>
import request from '../../../helpers/request'

export default {
  name: "paymentSuccess",
  data: () => ({
    error: false,
    errorContent: "",
  }),
  methods: {

  },
  async mounted() {
    const paymentSession = localStorage.getItem("payment_session");
    if (!paymentSession) {
      this.$router.push({name: "home"});
    } else {
      localStorage.removeItem("payment_session");
      const session = JSON.parse(paymentSession);
      const res = await request.create("/api/back/payment/").post({
        amount: 10,
        stripe_id: session.payment_intent,
      });
      if (!res || !res.data) {
        this.error = true;
        this.errorContent = paymentSession;
      } else {
        const me = await request.create('/api/back/account/').get();
        localStorage.setItem('user', JSON.stringify(me.data));

        this.$router.push({name: "home"});
      }
    }
  },
};
</script>

<template>
  <div class="my-5 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center my-5" v-if="!error">
            <h3 class="text-uppercase">Paiment Validé!</h3>
            <div class="mt-5 text-center">
              Vous serez redirigé dans quelque instant...
            </div>
          </div>
          <div class="text-center my-5" v-else>
            Il semblerait qu'une erreur soit survenue... <br>
            Si vous avez été prélevé mais que votre abonnement n'est pas été validé, veuillez créer un ticket et joindre ceci à votre message : {{errrorContent}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>