
<script>
import Layout from "../../layouts/main";
import PageHeader from "@/components/page-header";
import appConfig from "@/app.config";
import request from '../../../helpers/request'

export default {
  page: {
    title: "NotSuccededPayments",
    meta: [{ name: "description", content: appConfig.description }]
  },
  components: { Layout, PageHeader },
  data() {
    return {
      tableData: [],
      title: "Les paiments échoués",
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 25, 50, 100],
      filter: null,
      filterOn: [],
      sortBy: "age",
      sortDesc: false,
      fields: [
        { key: "id", sortable: true, label: "ID" },
        { key: "user_id", sortable: true, label: "ID Utilisateur" },
        { key: "stripe_id", sortable: true, label: "Stripe ID" },
        { key: "date", sortable: true },
        { key: "amount", sortable: true, label: "Montant" },
        { key: "status", sortable: true, label: "Status" },
        { key: "action" }
      ]
    };
  },
  computed: {
    rows() {
      return this.tableData.length;
    }
  },
  async mounted() {
    const res = await request.create(`/api/back/payment/no-succeeded`).get();
    if (!res || !res.data) {
      this.$toasted.show("Une erreur est survenue pendant la récupération des paiments échoués!", {
        position: "top-center",
        type: "error",
      });
      return;
    }
    this.tableData = res.data;
    this.totalRows = this.tableData.length;
  },
  methods: {

    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  }
};
</script>

<template>
  <Layout>
    <PageHeader :title="title" :items="items" />

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Les paiments échoués</h4>
            <div class="row mt-4">
              <div class="col-sm-12 col-md-6">
                <div id="tickets-table_length" class="dataTables_length">
                  <label class="d-inline-flex align-items-center">
                    Montrer&nbsp;
                    <b-form-select v-model="perPage" size="sm" :options="pageOptions"></b-form-select>&nbsp;Entrées
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="tickets-table_filter" class="dataTables_filter text-md-right">
                  <label class="d-inline-flex align-items-center">
                    Chercher :
                    <b-form-input
                      v-model="filter"
                      type="search"
                      placeholder="Search..."
                      class="form-control form-control-sm ml-2"
                    ></b-form-input>
                  </label>
                </div>
              </div>
            </div>
            <div class="table-responsive mb-0">
              <b-table
                :items="tableData"
                :fields="fields"
                responsive="sm"
                :per-page="perPage"
                :current-page="currentPage"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :filter="filter"
                :filter-included-fields="filterOn"
                @filtered="onFiltered"
              >
                <template v-slot:cell(date)="data">
                  {{new Date(data.item.date).toLocaleDateString("fr-FR")}}
                </template>

                <template v-slot:cell(action)="data">
                  <router-link :to="{name: 'admin_payment_show', params: {id: data.item.id}}">
                    <a
                      class="mr-3 text-primary"
                      v-b-tooltip.hover
                      data-toggle="tooltip"
                      title="see"
                    >
                      <i class="mdi mdi-eye font-size-18"></i>
                    </a>
                  </router-link>
                </template>
              </b-table>
            </div>
            <div class="row">
              <div class="col">
                <div class="dataTables_paginate paging_simple_numbers float-right">
                  <ul class="pagination pagination-rounded mb-0">
                    <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage"></b-pagination>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>