<script>
import Layout from "../../layouts/main";
import request from "../../../helpers/request";

export default {
  page: {
    title: "showPayment",
    meta: [{ name: "showPayment" }],
  },
  components: { Layout },
  data: () => ({
    payment: undefined,
  }),
  methods: {
    async getPayment(id) {
      const res = await request.create(`/api/back/payment/${id}`).get();
      if (!res || !res.data) {
        this.$toasted.show("Paiement non trouvé!", {
          position: "top-center",
          type: "error",
        });
        this.$router.push({ name: "payment list admin" });
        return;
      }
      this.payment = res.data;
    },
    async updateStatus() {
      const res = await request.create(`/api/back/payment/${this.payment.id}`).put();
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est survenu!", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      await this.getPayment(this.payment.id);
    }
  },
  computed: {
    paymentIsNotSucceeded: function () {
      return this.payment.status !== "succeeded";
    },
    paymentStatus: function () {
      if (this.payment.status === "succeeded") return "success"
      return "danger"
    }
  },
  async mounted() {
    await this.getPayment(this.$route.params.id);
  },
};
</script>

<template>
<Layout>
    <div class="row" v-if="payment">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row mt-4">
              <div class="col-lg-12">
                <b-card
                  :header-class="'border-' + paymentStatus + ' bg-transparent'"
                  class="border"
                  :class="'border-' + paymentStatus"
                >
                  <template v-slot:header>
                    <h5 class="my-0" :class="'text-' + paymentStatus">
                      <i class="mdi mdi-bullseye-arrow mr-3"></i>Numéro de
                      transaction : {{payment.stripe_id}}
                    </h5>
                  </template>
                  <h5 class="card-title mt-0">{{payment.amount}}€</h5>
                  <p class="card-text">
                    ID de l'utilisateur : {{payment.user_id}}<br/>
                    ID du profil : {{payment.profile_id}}<br/>
                    {{new Date(payment.date).toLocaleDateString("fr-FR")}}
                  </p>
                </b-card>
              </div>
              <div class="col-lg-12">
                <div class="button-items">
                <button
                    v-if="paymentIsNotSucceeded"
                    type="button"
                    class="btn btn-primary mt-2 waves-effect waves-light"
                    style="margin-right: 10px;"
                    @click="updateStatus"
                  >
                    Mettre à jour le paiement
                  </button>
                <div class="button-items">
                  <router-link
                  class="btn btn-primary"
                  :to="{ name: 'payment list admin' }"
                >
                  Retour à la liste des paiements
                </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<style>
</style>
