<script>
import Layout from "../../layouts/main";
import request from "../../../helpers/request";
import refundStatus from "../../../helpers/refundStatus.enum";

export default {
  page: {
    title: "showRefund",
    meta: [{ name: "showRefund" }],
  },
  components: { Layout },
  data: () => ({
    refund: undefined,
  }),
  methods: {
    async getRefund(id) {
      const res = await request.create(`/api/back/payment/refund/${id}`).get();
      if (!res || !res.data) {
        this.$toasted.show("Refund non trouvé!", {
          position: "top-center",
          type: "error",
        });
        this.$router.push({ name: "refund list admin" });
        return;
      }
      this.refund = res.data;
    },
    async validateRefund() {
      const res = await request.create(`/api/back/payment/refund/refunded/${this.refund.id}`).put();
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est arrivé pendant la validation!", {
          position: "top-center",
          type: "error",
        });
        return; 
      }
      await this.getRefund(this.refund.id);
    },
    async refuseRefund() {
      const res = await request.create(`/api/back/payment/refund/refused/${this.refund.id}`).put();
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est arrivé pendant la validation!", {
          position: "top-center",
          type: "error",
        });
        return; 
      }
      await this.getRefund(this.refund.id);
    },
  },
  computed: {
    refundIsWaiting: function () {
      return this.refund.status === refundStatus.WAITING;
    },
    refundStatusClass: function () {
      if (this.refund.status === refundStatus.WAITING) return "primary";
      else if (this.refund.status === refundStatus.REFUNDED) return "success";
      return "danger";
    }
  },
  async mounted() {
    await this.getRefund(this.$route.params.id);
  },
};
</script>

<template>
<Layout>
    <div class="row" v-if="refund">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row mt-4">
              <div class="col-lg-12">
                <b-card
                  :header-class="'bg-transparent border-' + refundStatusClass" :class="'border border-' + refundStatusClass"
                >
                  <template v-slot:header>
                    <h5 class="my-0" :class="'text-' + refundStatusClass">
                      <i class="mdi mdi-bullseye-arrow mr-3"></i>Numéro de
                      transaction : {{refund.id}}
                    </h5>
                  </template>
                  <p class="card-text">
                    Date de la demande de remboursement : {{new Date(refund.request_date).toLocaleDateString("fr-FR")}}<br/>
                    ID de l'utilisateur : {{refund.user_id}}<br/>
                    ID du profil : {{refund.profile_id}}
                  </p>
                </b-card>
              </div>
              <div class="col-lg-12">
                <div class="button-items">
                <button
                    v-if="refundIsWaiting"
                    type="button"
                    class="btn btn-primary mt-2 waves-effect waves-light"
                    style="margin-right: 10px;"
                    @click="validateRefund()"
                  >
                    Valider
                </button>
                <button
                    v-if="refundIsWaiting"
                    type="button"
                    class="btn btn-danger mt-2 waves-effect waves-light"
                    style="margin-right: 10px;"
                    @click="refuseRefund()"
                  >
                    Refuser
                </button>
                <div class="button-items">
                  <router-link
                  class="btn btn-primary"
                  :to="{ name: 'refund list admin' }"
                >
                  Retour à la liste des paiements
                </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<style>
</style>
