<script>
import { FormWizard, TabContent } from "vue-form-wizard";

import Layout from "../../layouts/main";
import PageHeader from "@/components/page-header";
import appConfig from "@/app.config";
import request from "../../../helpers/request";

export default {
  page: {
    title: "Ajout d'un salarié",
    meta: [{ name: "description", content: appConfig.description }],
  },
  components: { Layout, PageHeader, FormWizard, TabContent },
  data() {
    return {
      title: "form user enterprise create",
      msg: {
        firstname: "",
        lastname: "",
        email: "",
      },
      user: {
        firstname: "",
        lastname: "",
        email: "",
      },
    };
  },
  watch: {
    "user.email": function (value) {
      this.validateEmail(value);
    },
    "user.firstname": function (value) {
      this.validateFirstname(value);
    },
    "user.lastname": function (value) {
      this.validateLastname(value);
    },
  },
  methods: {
    validateFirstname(value) {
      if (/^[A-zÀ-ú -]+$/.test(value)) {
        this.msg["firstname"] = "";
      } else {
        this.msg["firstname"] = "Prénom invalide";
      }
    },
    validateLastname(value) {
      if (/^[A-zÀ-ú -]+$/.test(value)) {
        this.msg["lastname"] = "";
      } else {
        this.msg["lastname"] = "Nom invalide";
      }
    },
    validateEmail(value) {
      // eslint-disable-next-line no-useless-escape
      if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(value)) {
        this.msg["email"] = "";
      } else {
        this.msg["email"] = "Email invalide";
      }
    },
    isFormValid() {
      return (
        this.msg.email == "" &&
        this.msg.firstname == "" &&
        this.msg.lastname == ""
      );
    },
    async sendForm() {
      if (!this.isFormValid()) {
        this.$toasted.show("Veuillez remplir tous les champs correctement", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      const url = new URL("/reset-password", location);
      const res = await request
        .create(`/api/back/add-user?url=${url.href.replace("secure.", "www.")}`)
        .post(this.user);
      if (!res || !res.data) {
        this.$toasted.show(
          "Une erreur est survenue pendant la création de l'utilisateur, veuillez réessayer plus tard.",
          {
            position: "top-center",
            type: "error",
          }
        );
        return;
      }
      this.$router.push({ name: "enterprise_admin" });
    },
  },
};
</script>

<template>
  <Layout>
    <PageHeader :title="title" :items="items" />
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Ajouter un membre de votre entreprise</h4>
            <form-wizard color="#556ee6" @on-complete="sendForm()">
              <tab-content icon="mdi mdi-account-circle">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group row mb-3">
                      <label class="col-md-12 col-form-label" for="lastname"
                        >Nom</label
                      >
                      <div class="col-md-12">
                        <input
                          id="lastname"
                          type="text"
                          class="form-control"
                          name="lastname"
                          v-model="user.lastname"
                        />
                        <span style="color: red" v-if="msg.lastname">{{
                          msg.lastname
                        }}</span>
                      </div>
                    </div>
                    <div class="form-group row mb-3">
                      <label class="col-md-12 col-form-label" for="firstname"
                        >Prénom</label
                      >
                      <div class="col-md-12">
                        <input
                          id="firstname"
                          type="text"
                          name="firstname"
                          class="form-control"
                          v-model="user.firstname"
                        />
                        <span style="color: red" v-if="msg.firstname">{{
                          msg.firstname
                        }}</span>
                      </div>
                    </div>
                    <div class="form-group row mb-3">
                      <label class="col-md-12 col-form-label" for="email"
                        >Email</label
                      >
                      <div class="col-md-12">
                        <input
                          id="email"
                          type="email"
                          name="email"
                          class="form-control"
                          v-model="user.email"
                        />
                        <span style="color: red" v-if="msg.email">{{
                          msg.email
                        }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </tab-content>
            </form-wizard>
          </div>
          <!-- end card-body -->
        </div>
        <!-- end card -->
      </div>
      <!-- end col -->

      <!-- end col -->
    </div>
    <!-- end row -->
  </Layout>
</template>

<style scoped></style>
