<script>
import Layout from "../../layouts/main";
import PageHeader from "@/components/page-header";
import appConfig from "@/app.config";
import request from "../../../helpers/request";
import roles from "../../../helpers/roles.enum";

export default {
  page: {
    title: "Membre de l'entreprise",
    meta: [{ name: "description", content: appConfig.description }],
  },
  components: { Layout, PageHeader },
  data() {
    return {
      tableData: [],
      title: "Users List",
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 25, 50, 100],
      filter: null,
      filterOn: [],
      sortBy: "age",
      sortDesc: false,
      user: JSON.parse(localStorage.getItem("user")),
      fields: [
        { key: "activated", sortable: true, label: "" },
        { key: "firstname", sortable: true, label: "Prénom" },
        { key: "lastname", sortable: true, label: "Nom" },
        { key: "email", sortable: true, label: "Email" },
        { key: "role", sortable: true, label: "Role" },
        { key: "action" },
      ],
    };
  },
  computed: {
    rows() {
      return this.tableData.length;
    },
    isProfilePremium: function () {
      if (!this.user.profile.premium_until) return false;
      return (new Date(this.user.profile.premium_until)).getTime() > (new Date()).getTime();
    }
  },
  async mounted() {
    await this.getUsers();
    this.totalRows = this.items.length;
  },
  methods: {
    async getUsers() {
      const res = await request.create(`/api/back/account/profile`).get();
      if (!res || !res.data || !res.data.users) {
        this.$toasted.show(
          "Une erreur est survenue pendant la récupérations des utilisateurs!",
          {
            position: "top-center",
            type: "error",
          }
        );
        return;
      }
      this.tableData = res.data.users;
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    displayUserRole(userRoles) {
      if (userRoles.includes(roles.ROLE_ENTERPRISE_ADMIN)) return "Admin";
      else if (userRoles.includes(roles.ROLE_ENTERPRISE)) return "Salarié";
      return "Role inconnu";
    },
    userIsActivated(userRoles) {
      return userRoles.some(r => r === roles.ROLE_VALIDE);
    },
  },
};
</script>

<template>
  <Layout>
    <PageHeader :title="title" :items="items" />

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Données</h4>
            <div class="row mt-4">
              <div class="col-sm-12 col-md-6">
                <div id="tickets-table_length" class="dataTables_length">
                  <label class="d-inline-flex align-items-center">
                    Afficher&nbsp;
                    <b-form-select
                      v-model="perPage"
                      size="sm"
                      :options="pageOptions"
                    ></b-form-select
                    >&nbsp;entrées
                  </label>
                </div>
              </div>
              <!-- Search -->
              <div class="col-sm-12 col-md-6">
                <div
                  id="tickets-table_filter"
                  class="dataTables_filter text-md-right"
                >
                  <label class="d-inline-flex align-items-center">
                    Search:
                    <b-form-input
                      v-model="filter"
                      type="search"
                      placeholder="Search..."
                      class="form-control form-control-sm ml-2"
                    ></b-form-input>
                  </label>
                </div>
              </div>
            </div>
            <div class="table-responsive mb-0">
              <b-table
                :items="tableData"
                :fields="fields"
                responsive="sm"
                :per-page="perPage"
                :current-page="currentPage"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :filter="filter"
                :filter-included-fields="filterOn"
                @filtered="onFiltered"
              >
                <template v-slot:cell(role)="data">
                  <div>
                    {{ displayUserRole(data.item.roles) }}
                  </div>
                </template>
                <template v-slot:cell(activated)="data">
                  <a
                    v-if="userIsActivated(data.item.roles)"
                    class="mr-3 text-primary"
                    v-b-tooltip.hover
                    data-toggle="tooltip"
                    title="Activé"
                  >
                    <i
                      style="color: green"
                      class="mdi mdi-account-multiple-check font-size-18"
                    ></i>
                  </a>
                  <a
                    v-else
                    class="text-danger"
                    v-b-tooltip.hover
                    title="Désactivé"
                  >
                    <i
                      style="color: red"
                      class="mdi mdi-account-remove font-size-18"
                    ></i>
                  </a>
                </template>
                <template v-slot:cell(action)="data">
                  <router-link
                    :to="{ name: 'ProfilCard', params: { id: data.item.id } }"
                  >
                    <a
                      class="mr-3 text-primary"
                      v-b-tooltip.hover
                      data-toggle="tooltip"
                      title="see"
                    >
                      <i class="mdi mdi-eye font-size-18"></i>
                    </a>
                  </router-link>
                </template>
              </b-table>
            </div>
            <div class="row">
              <div class="col">
                <div
                  class="dataTables_paginate paging_simple_numbers float-right"
                >
                  <ul class="pagination pagination-rounded mb-0">
                    <!-- pagination -->
                    <b-pagination
                      v-model="currentPage"
                      :total-rows="rows"
                      :per-page="perPage"
                    ></b-pagination>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-link :to="{name: 'enterprise_admin_add_user'}" v-if="isProfilePremium">
      <button class="btn btn-primary" style="margin-right: 10px;">
        Ajouter un membre
      </button>
    </router-link>
    <div v-else>
      Passez premium et profiter de privilèges pour votre compte entreprise !
    </div>
  </Layout>
</template>
