<script>
import Layout from "../../layouts/main";
import PageHeader from "@/components/page-header";
import appConfig from "@/app.config";
import request from "../../../helpers/request";
import * as _ from "lodash";

/**
 * Cards component
 */
export default {
  page: {
    title: "Tous nos freelances",
    meta: [{ name: "description", content: appConfig.description }],
  },
  components: { Layout, PageHeader },
  data() {
    return {
      title: "Tous nos freelances",
      users: [],
      searchTerms: '',
    };
  },
  watch: {
    searchTerms(value) {
      this.filterUsers(value);
    },
  },
  methods: {
    async getUsers(s = "") {
      const res = await request.create(`/api/back/search/user?s=${s}`).get();
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est survenue pendant la récupérations des utilisateurs!", {
          position: "top-center",
          type: "error",
        });
      }
      this.users = res.data;
    },
    filterUsers: _.debounce(async function (term) {
      await this.getUsers(term);
    }, 500),
    displayFreelanceSkills(skills) {
      const skillsLen = skills.length;
      if (skillsLen <= 3) return skills.join(', ');
      const sliceSkills = skills.slice(0, 3);
      return `${sliceSkills.join(', ')}... (+${skillsLen - 3} autres compétences)`;
    }
  },
  computed: {
    filteredUsers: function () {
      return this.users.filter(u => u.profile.status === 2 && u.profile.certified)
    }
  },
  async mounted() {
    await this.getUsers();
  }
};
</script>

<template>
  <Layout>
    <PageHeader :title="title" :users="users" />
    <div class="row">
      <input
        types="text"
        class="form-control"
        placeholder="Rechercher un freelance grâce a son nom, prénom, compétences..."
        v-model="searchTerms"
        style="margin-bottom: 10px;"
      />
      <div v-for="(user, index) of filteredUsers"
        :key="index"
        style="max-height: 14rem; min-height: 14rem; margin-bottom: 1rem;"
        class="col-lg-6 col-xl-3">
          <b-card style="max-height: 100%; min-height: 100%;">
            <b-card-title>
              <h5 class="card-title">{{ user.lastname }} {{ user.firstname }}</h5>
            </b-card-title>
            <b-card-text>
              {{ user.profile && user.profile.skills && displayFreelanceSkills(user.profile.skills) }}
            </b-card-text>
            <template #footer>
              <router-link :to="{name: 'ProfilCard', params: {id: user.id}}">
                <b-button variant="primary">
                  Voir le profil
                </b-button>
              </router-link>
            </template>
          </b-card>
      </div>
    </div>
    <!-- end row -->
  </Layout>
</template>

<style>
  .card-footer {
    background-color: white !important;
  }
</style>