<script>
import Layout from "../../layouts/main";
import request from "../../../helpers/request";

export default {
  page: {
    title: "Les offres premium",
    meta: [{ name: "premium offer" }],
  },
  components: { Layout },
  data: () => ({
    prices: undefined,
    editEnterpriseOffer: false,
    editFreelanceOffer: false,
    newFreelanceOffer: 0,
    newEnterpriseOffer: 0,
  }),
  methods: {
    async getPrices() {
      const res = await request.create(`/api/back/payment/offer`).get();
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est survenue pendant la récupération des prix!", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      this.prices = res.data;
    },
    async setNewEnterpriseOffer() {
      const res = await request.create(`/api/back/payment/offer/enterprise`).put({amount: this.newEnterpriseOffer});
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est survenue pendant la mise à jour du prix entreprise!", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      this.editEnterpriseOffer = false;
      await this.getPrices();
    },
    async setNewFreelanceOffer() {
      const res = await request.create(`/api/back/payment/offer/freelance`).put({amount: this.newFreelanceOffer});
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est survenue pendant la mise à jour du prix freelance!", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      this.editFreelanceOffer = false;
      await this.getPrices();
    }
  },
  computed: {
    freelanceOffer: function () {
      const offer = this.prices.find(p => p.status === 2);
      return offer && offer.amount || 0;
    },
    enterpriseOffer: function () {
      const offer = this.prices.find(p => p.status === 1);
      return offer && offer.amount || 0;
    }
  },
  async mounted() {
    await this.getPrices();
  },
};
</script>

<template>
  <Layout>
    <div class="row" v-if="prices">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row mt-4">
              <div class="col-lg-12">
                <b-card header-class='border-primary bg-transparent' class="border border-primary">
                  <template v-slot:header>
                    <h5 class="my-0 text-primary">
                      <i class="mdi mdi-bullseye-arrow mr-3"></i>
                      L'offre Premium Freelance
                    </h5>
                  </template>
                  <h5 class="card-title mt-0">L'offre freelance actuelle : {{freelanceOffer}}€</h5>
                  <div class="card-text" v-if="editFreelanceOffer">
                    <div class="col-md-12">
                      <input
                        id="newEnternewFreelanceOfferpriseOffer"
                        type="number"
                        name="newFreelanceOffer"
                        class="form-control"
                        min="0"
                        v-model.number="newFreelanceOffer"
                      />
                    </div>
                  </div>
                  <div class="col-lg-12" v-if="editFreelanceOffer">
                    <div class="button-items">
                      <button
                          type="button"
                          class="btn btn-primary mt-2 waves-effect waves-light"
                          style="margin-right: 10px;"
                          @click="setNewFreelanceOffer()"
                        >
                          Valider
                      </button>
                      <button
                          type="button"
                          class="btn btn-danger mt-2 waves-effect waves-light"
                          style="margin-right: 10px;"
                          @click="editFreelanceOffer = false; newFreelanceOffer = 0;"
                        >
                          Annuler
                      </button>
                    </div>
                  </div>
                </b-card>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="row mt-4">
              <div class="col-lg-12">
                <b-card header-class='border-primary bg-transparent' class="border border-primary" >
                  <template v-slot:header>
                    <h5 class="my-0 text-primary">
                      <i class="mdi mdi-bullseye-arrow mr-3"></i>
                      L'offre Premium Entreprise
                    </h5>
                  </template>
                  <h5 class="card-title mt-0">L'offre entreprise actuelle : {{enterpriseOffer}}€</h5>
                  <div class="card-text" v-if="editEnterpriseOffer">
                    <div class="col-md-12">
                      <input
                        id="newEnterpriseOffer"
                        type="number"
                        name="newEnterpriseOffer"
                        class="form-control"
                        min="0"
                        v-model.number="newEnterpriseOffer"
                      />
                    </div>
                  </div>
                  <div class="col-lg-12" v-if="editEnterpriseOffer">
                    <div class="button-items">
                      <button
                          type="button"
                          class="btn btn-primary mt-2 waves-effect waves-light"
                          style="margin-right: 10px;"
                          @click="setNewEnterpriseOffer()"
                        >
                          Valider
                      </button>
                      <button
                          type="button"
                          class="btn btn-danger mt-2 waves-effect waves-light"
                          style="margin-right: 10px;"
                          @click="editEnterpriseOffer = false; newEnterpriseOffer = 0;"
                        >
                          Annuler
                      </button>
                    </div>
                  </div>
                </b-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="button-items">
          <button
              type="button"
              class="btn btn-primary mt-2 waves-effect waves-light"
              style="margin-right: 10px;"
              @click="editFreelanceOffer = true;"
            >
              Modifier l'offre freelance
          </button>
          <button
              type="button"
              class="btn btn-primary mt-2 waves-effect waves-light"
              style="margin-right: 10px;"
              @click="editEnterpriseOffer = true;"
            >
              Modifier l'offre entreprise
          </button>
        </div>
      </div>
    </div>
  </Layout>
</template>

<style>
</style>
