<script>
import Layout from "../../layouts/main";
import PageHeader from "@/components/page-header";
import appConfig from "@/app.config";
import request from "../../../helpers/request";

/**
 * Form-element component
 */
export default {
  page: {
    title: "Modification de profil",
    meta: [{ name: "description", content: appConfig.description }],
  },
  components: { Layout, PageHeader },
  data() {
    return {
      title: "Edition utilisateur",
      msg: {},
      user: undefined,
      status: "not_accepted",
      checkCustom: "not_accepted",
      checked: true,
      roles: {
        ROLE_VALIDE: false,
        ROLE_ADMIN: false,
        ROLE_ENTERPRISE: false,
        ROLE_ENTERPRISE_ADMIN: false,
        ROLE_FREELANCE: false,
      },
    };
  },
  watch: {
    "user.email": function (value) {
      this.validateEmail(value);
    },
    "user.firstname": function (value) {
      this.validateFirstname(value);
    },
    "user.lastname": function (value) {
      this.validateLastname(value);
    },
  },
  methods: {
    validateEmail(value) {
      if (value.length === 0) this.msg.email = "Ce champs est obligatoire";
      // eslint-disable-next-line no-useless-escape
      else if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(value)) {
        this.msg["email"] = "";
      } else {
        this.msg["email"] = "Email invalide";
      }
    },
    validateFirstname(value) {
      if (value.length  === 0) this.msg.firstname = "Ce champs est obligatoire";
      else {
        this.msg["firstname"] = "";
      }
    },
    validateLastname(value) {
      if (value.length  === 0) this.msg.lastname = "Ce champs est obligatoire";
      else {
        this.msg["lastname"] = "";
      }
    },
    isFormValid() {
      return (
        this.msg.firstname === "" &&
        this.msg.lastname === "" &&
        this.msg.email === ""
      );
    },
    async updateUser() {
      if (!this.isFormValid()) {
        this.$toasted.show("Veuillez remplir tous les champs correctement", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      this.user.roles = this.setRoleToUpdate();
      const res = await request
        .create(`/api/back/admin/user/${this.user.id}`)
        .put(this.user);
      if (!res || !res.data) {
        console.error(res);
        this.$toasted.show("Une erreur est survenue!", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      this.$router.push({
        name: "admin_profile_user",
        parmas: { id: this.user.id },
      });
      return;
    },
    async getUser(id) {
      const res = await request.create(`/api/back/admin/user/${id}`).get();
      if (!res || !res.data) {
        this.$toasted.show("Une erreur est survenue!", {
          position: "top-center",
          type: "error",
        });
        this.$router.push("admin_user_list");
        return;
      }
      this.user = res.data;
    },
    setRoleToUpdate() {
      const roles = [];
      for (const key in this.roles) {
        if (this.roles[key] === true) roles.push(key);
      }
      return roles;
    },
    setRoleFromUser() {
      for (const key in this.roles) {
        this.roles[key] = this.user.roles.includes(key);
      }
    },
  },
  async mounted() {
    await this.getUser(this.$route.params.id);
    this.user = {
      ...this.user,
    };
    this.setRoleFromUser();
  },
};
</script>

<template>
  <Layout>
    <PageHeader :title="title" :items="items" />
    <div class="row" v-if="user">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Modification de profil</h4>
            <p class="card-title-desc">Modifiez les informations du profil</p>

            <div class="row">
              <div class="col-12">
                <b-form-group
                  id="email-label"
                  label-cols-sm="2"
                  label-cols-lg="2"
                  label="Email"
                  label-for="email"
                >
                  <b-form-input id="email" v-model="user.email"></b-form-input>
                  <span style="color: red" v-if="msg.email">{{
                    msg.email
                  }}</span>
                </b-form-group>

                <b-form-group
                  id="firstname-label"
                  label-cols-sm="2"
                  label-cols-lg="2"
                  label="Prénom"
                  label-for="firstname"
                >
                  <b-form-input
                    id="firstname"
                    v-model="user.firstname"
                  ></b-form-input>
                  <span style="color: red" v-if="msg.firstname">{{
                    msg.firstname
                  }}</span>
                </b-form-group>

                <b-form-group
                  id="lastname-label"
                  label-cols-sm="2"
                  label-cols-lg="2"
                  label="Nom"
                  label-for="lastname"
                >
                  <b-form-input
                    id="lastname"
                    v-model="user.lastname"
                  ></b-form-input>
                  <span style="color: red" v-if="msg.lastname">{{
                    msg.lastname
                  }}</span>
                </b-form-group>

                <b-form-group
                  v-for="(value, key, index) in roles"
                  :key="index"
                  :id="'roles-label-' + index"
                  label-cols-sm="2"
                  label-cols-lg="2"
                  :label="key"
                  :label-for="'roles-label-' + index"
                >
                  <b-form-checkbox
                    :id="key"
                    v-model="roles[key]"
                  ></b-form-checkbox>
                </b-form-group>

                <label class="col-md-12 col-form-label">
                  <button class="btn btn-primary" @click="updateUser()">
                    Modifier
                  </button></label
                >
              </div>
            </div>
            <!-- end row -->
          </div>
        </div>
        <!-- end card -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
    <!-- end row -->
  </Layout>
</template>

<style>
.user-image {
  margin-top: 5px;
  width: 75px;
  height: 75px;
}
</style>
