<script>
import Layout from "../../layouts/main";
import request from "../../../helpers/request";
import userIcon from "../../../helpers/icons/userIcon";
import pdfIcon from "../../../helpers/icons/pdfIcon";

export default {
  page: {
    title: "ProfilCard",
    meta: [{ name: "description" }],
  },
  components: { Layout },
  data: () => ({
    user: undefined,
    selectedMissionId: undefined,
    showImage: false,
    userImage: "",
    showDocuments: false,
    profileDocuments: [],
    docIcon: pdfIcon,
  }),
  methods: {
    async getUser(id) {
      const res = await request.create(`/api/back/admin/user/${id}`).get();
      if (!res || !res.data) {
        this.$toasted.show("Utilisateur non trouvé !", {
          position: "top-center",
          type: "error",
        });
        this.$router.push({ name: "admin_user_list" });
        return;
      }
      this.user = res.data;
    },
    async getUserImage(doc) {
      if (!doc) {
        return userIcon;
      }
      const res = await request.create(`/api/back/search/doc?n=${doc}`).get();
      if (!res || !res.data) {
        return doc;
      }
      return res.data;
    },
    async getProfileDocument(doc) {
      if (!doc) {
        return pdfIcon;
      }
      const res = await request.create(`/api/back/search/doc?n=${doc}`).get();
      if (!res || !res.data) {
        return doc;
      }
      return res.data;
    },
    downloadDocument(index) {
      const base64Data = this.profileDocuments[index].split('base64,');
      const byteCharacters = atob(base64Data[1]);
      const byteNumbers = new Array(byteCharacters.length);
      for (let i = 0; i < byteCharacters.length; i++) {
          byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      const byteArray = new Uint8Array(byteNumbers);
      const blob = new Blob([byteArray], {type: "application/pdf"});
      const link = document.createElement("a");
      link.href = window.URL.createObjectURL(blob);
      link.download = this.user.profile.documents[index].endsWith('.pdf') ? this.user.profile.documents[index] : `${this.user.profile.documents[index]}.pdf`;
      link.click();
      return;
    },
    async removeUser() {
      try {
        await request.create(`/api/back/admin/user/${this.user.id}`).delete();
        this.$router.push({ name: "admin_user_list" });
      } catch (e) {
        console.error(e);
        this.$toasted.show("Utilisateur non trouvé !", {
          position: "top-center",
          type: "error",
        });
      }
    }
  },
  async mounted() {
    await this.getUser(this.$route.params.id);
    this.userImage = await this.getUserImage(this.user.picture && this.user.picture.length && this.user.picture[0]);
    this.showImage = true; // Set to true to refresh DOM and display loaded image
    if (this.user.profile && this.user.profile.documents) {
      for (let i = 0; i<this.user.profile.documents.length; i++) {
        this.profileDocuments.push(await this.getProfileDocument(this.user.profile.documents[i]));
      }
      this.showDocuments = true; // Set to true to refresh DOM and display loaded documents
    }
  },
};
</script>

<template>
  <Layout>
    <div class="row" v-if="user">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row mt-4">
              <div class="col-lg-12">
                <div class="text-center">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mt-4 mt-md-0">
                        <img
                          v-if="showImage"
                          class="rounded-circle avatar-xl"
                          :alt="user.picture && user.picture.length && user.picture[0] || 'userIcon'"
                          :src="userImage"
                          data-holder-rendered="true"
                        />
                        <br />
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="button-items">
                        <p>Prénom {{ user.firstname }}</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="button-items">
                        <p>Nom {{ user.lastname }}</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="button-items">
                        <p>Email {{ user.email }}</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="button-items">
                        <p>Roles {{ user.roles.join(', ') }}</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="button-items">
                        <router-link
                        class="btn btn-primary"
                        :to="{ name: 'admin_edit_user', params: {id: user.id} }"
                      >
                        Editer
                      </router-link>
                      <button
                          type="button"
                          class="btn btn-danger mt-2 waves-effect waves-light"
                          style="margin-right: 10px;"
                          @click="removeUser()"
                        >
                          Supprimer
                        </button>
                      <div class="button-items">
                        <router-link
                        class="btn btn-primary"
                        :to="{ name: 'admin_user_list' }"
                      >
                        Retours à la liste des utilisateurs
                      </router-link>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </Layout>
</template>

<style>
  .img-icon {
    margin-top: 5px;
    height: 50px;
    width: 50px;
  }

  .pointer {
    cursor: pointer;
  }
</style>
