<script>
import Layout from "../../layouts/main";
import PageHeader from "@/components/page-header";

import Stat from "./widget";

/**
 * Dashboard component
 */
export default {
  components: {
    Layout,
    PageHeader,
    Stat,
  },
  data() {
    return {
      title: "Dashboard",
      user: JSON.parse(localStorage.getItem("user")),
    };
  }
};
</script>

<template >
  <Layout>
    <PageHeader :title="title" :items="items" />
    <div class="row">
      <div class="col-xl-12">
        <Stat v-if="user.profile.certified"/>
        <div v-else>
          <p>Vous venez de vous inscrire, félicitations !</p>
          
          <p>Afin de pouvoir utiliser Darkmalt, rendez vous dans votre profil en haut à droite de l'écran et téléchargez les documents pour prouver votre identité.</p>
          <p>Un admin validera votre compte dans les 48h. Un email vous sera envoyé.</p><br/>

          <p>Toujours pas validé après 48h ? Ouvrez un ticket, notre support client se chargera de votre demande.</p>
        </div>
      </div>
    </div>
  </Layout>
</template>