<script>
import request from "../../../helpers/request";

export default {
  data() {
    return {
      statistiques: undefined,
      user: JSON.parse(localStorage.getItem('user'))
    };
  },
  methods: {
    async getStats() {
      const res = await request.create(`/api/back/account/stats`).get();
      if (!res || !res.data) {
        this.$toasted.show(
          "Une erreur est survenue pendant la récupérations des statistiques!",
          {
            position: "top-center",
            type: "error",
          }
        );
        return;
      }
      this.statistiques = res.data;
    },
  },
  async mounted() {
    if (this.user.profile.certified) {
      await this.getStats();
    }
  },
};
</script>

<template>
  <div class="row">
    <div v-if="!statistiques">Récupération en cours des statistiques...</div>
    <div v-else>
      <div class="row" v-for="(stats, key, index) in statistiques" :key="index">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{$t("stats." + key + ".title")}}</h4>
              <div class="row">
                <div class="col-md-4" v-for="(value, subKey, subIndex) in stats" :key="subIndex">
                  <div class="card">
                    <div class="card-body">
                      <div class="media">
                        <div class="media-body overflow-hidden">
                          <p class="text-truncate font-size-14 mb-2">{{$t("stats." + key + "." + subKey)}}</p>
                          <h4 class="mb-0">{{value}}</h4>
                        </div>
                        <div class="text-primary">
                          <i class="ri-stack-line font-size-24"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
